/*
=======
FlexBox
=======
*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.centerItem {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*
==========
EndFlexBox
==========
*/

/*
=====
Fonts
=====
*/

@font-face {
    font-family: 'iransans';
    src: url(fonts/IRANSansWeb.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'iransansbold';
    src: url(fonts/IRANSansWebBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'iransansblack';
    src: url(fonts/IRANSansWebBlack.ttf) format("truetype");
    font-style: normal;
}

/*
========
EndFonts
========
*/

p, a {
    font-family: "iransans", sans-serif;
    line-height: 150%;
    color: #7B7F98;
}

h1, h2, h3 {
    font-family: "iransansblack", sans-serif;
    line-height: 150%;
    color: #233E63;
}

h4, h5, h6 {
    font-family: "iransansbold", sans-serif;
    color: #233E63;
}

a {
    text-decoration: none;
}

body {
    direction: rtl;
    background-color: #FCFBFF;
}

html {
    overflow-x: hidden;
}

/*
=============
Normalize css
=============
*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*
=================
End Normalize css
=================
*/

/*
============
Start Header
============
*/

.headerBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 71rem;
}

nav {
    padding-top: 30px;
    padding-bottom: 50px;
}

.headerLogo img {
    width: 80px;
    height: auto;
}

.headerNavigationLink {
    padding-right: 10%;
    padding-left: 10%;
}

.headerNavigationLink ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.headerNavigationLink li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.headerNavigationLink a {
    color: #ffffff;
    font-size: 15px;
}

.HeaderNavigationButton a {
    float: left;
    padding: 15px 20px;
    font-size: 12px;
    background-color: #ffffff;
    color: #FF5D89;
    border-radius: 30px;
}

.headerTitr {
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.headerButton a {
    background-color: #FF5D89;
    color: #ffffff;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 18px;
}

.headerButton {
    text-align: center;
    margin-bottom: 10%;
}

.headerImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding-left: 70px;
}

.headerPlantLeft {
    position: absolute;
    z-index: -1;
    width: 20%;
    height: auto;
    bottom: 3rem;
    left: 0;
}

.headerPlantRight {
    position: absolute;
    z-index: -1;
    width: 20%;
    height: auto;
    bottom: 12rem;
    right: 0;
}

.headerRocketLeft {
    position: absolute;
    z-index: -1;
    width: auto;
    height: 60%;
    bottom: 3rem;
    left: 0;
}

.headerRocketRight {
    position: absolute;
    z-index: -1;
    width: auto;
    height: 40%;
    bottom: 17rem;
    right: 0;
}

/*
=========
EndHeader
=========
*/

/*
==============
Start Section1
==============
*/

.section1 {
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
}

.section1Titr {
    text-align: center;
    padding-bottom: 7%;
}

.section1ContentBox {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section1ContentBox img {
    padding: 20px;
    width: 65px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.section1ContentBox img[data-color="1"] {
    background-color: #FBD1D6;
    -webkit-box-shadow: 3px 0 10px 0 #FBD1D6;
    box-shadow: 3px 0 10px 0 #FBD1D6;
}

.section1ContentBox img[data-color="2"] {
    background-color: #CFC9FD;
    -webkit-box-shadow: 3px 0 10px 0 #CFC9FD;
    box-shadow: 3px 0 10px 0 #CFC9FD;
}

.section1ContentBox img[data-color="3"] {
    background-color: #BDE3FF;
    -webkit-box-shadow: 3px 0 10px 0 #BDE3FF;
    box-shadow: 3px 0 10px 0 #BDE3FF;
}


.section1ContentBox h4 {
    font-size: 18px;
    padding-bottom: 10px;
}

.section1ContentBox p {
    font-size: 13px;
}

.section1PlanetRight {
    position: absolute;
    right: -13%;
    top: -10rem;
    z-index: -1;
    width: 41%;
}

.section1PlanetLeft {
    position: absolute;
    left: -11%;
    top: 20rem;
    z-index: -1;
    width: 41%;
}

/*
============
End Section1
============
*/

/*
==============
Start Section2
==============
*/

.section2 {
    margin-bottom: 10%;
}

.section2ContentBox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 40px 50px 70px 45px;
    margin-bottom: 10%;
}

.section2ContentBox img {
    width: 70%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
}

.section2ContentBox h4 {
    font-size: 17px;
}

.section2ContentBox p {
    font-size: 13px;
}

/*
============
End Section2
============
*/

/*
==============
Start Section3
==============
*/

.section3 {
    position: relative;
    margin-bottom: 10%;
}

.section3Text {
    padding-top: 30px;
    padding-left: 10%;
}

.section3PriceSelect {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 32px;
    -webkit-box-shadow: 5px 0 20px 5px rgba(34, 61, 98, 0.3);
    box-shadow: 5px 0 20px 5px rgba(34, 61, 98, 0.3);
}

.section3PriceSelect a {
    padding: 10px 15px;
    border-radius: 32px;
    color: #233E63;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.section3PriceSelect a:first-child {
    background-color: #FF5D89;
    color: #ffffff;
}

.section3PriceBox {
    background-color: #ffffff;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    -webkit-box-shadow: 5px 0 15px 5px rgba(34, 61, 98, 0.5);
    box-shadow: 5px 0 15px 5px rgba(34, 61, 98, 0.5);
}

.section3PriceBox h4 {
    padding-bottom: 20px;
}

.section3PriceBox h1 {
    padding-bottom: 40px;
}

.section3PriceBox p {
    padding-bottom: 5px;
}

.section3PriceBox a {
    margin-top: 30px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #FF5D89;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 50px;
}

.section3PriceBox a svg {
    margin-right: 5px;
}

.section3PriceBox a h4 {
    padding-bottom: 0 !important;
    color: #ffffff;
}

#updatewebBox {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 50%;
}

.section3PlanetBackground {
    position: absolute;
    z-index: -1;
    right: -12%;
    top: 0;
    width: 40%;
}

/*
============
End Section3
============
*/

/*
==============
Start Section4
==============
*/

.section4 {
    position: relative;
}

.section4Content {
    padding-top: 10%;
    padding-bottom: 5%;
}

.section4Background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60rem;
}

.section4ContentText h1 {
    color: #ffffff;
    font-size: 45px;
}

.section4Ul {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.section4Ul img {
    width: 30px;
    height: 30px;

}

.section4Ul p {
    margin: 0;
    color: #ffffff;
    padding-right: 10px;
}

.section4ContentImage img {
    width: 130%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section4Number {
    text-align: center;
}

.section4Number p, .section4Number h1 {
    color: #ffffff;
}

.section4Number p {
    font-size: 15px;
    margin-top: 0;
}

.section4Number h1 {
    font-size: 50px;
    margin-bottom: 0;
    letter-spacing: -1px;
}

.section4CircleTop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    z-index: -1;
}

.section4CircleBottom {
    position: absolute;
    bottom: -11rem;
    left: 0;
    height: 100%;
    width: auto;
    z-index: -1;
}

.section4RocketBottom {
    position: absolute;
    bottom: -10rem;
    left: 0;
    width: auto;
    height: 45%;
    z-index: -1;
}

.section4RocketTop {
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: -1;
    width: 20%;
    height: auto;
}

/*
============
End Section4
============
*/

/*
==============
Start Section5
==============
*/

.section5Slide {
    padding-top: 3%;
    padding-bottom: 10%;
}

.section5 {
    padding-top: 25%;
    position: relative;
}

.section5Ttir p {
    font-size: 15px;
    margin-top: 0;
}

.section5Ttir h1 {
    margin-bottom: 0;
}

.section5Arrow {
    text-align: center;
}

.section5Arrow img {
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

.section5Button a {
    float: left;
    font-family: "iransansbold", sans-serif;
    background-color: #FF5D89;
    color: #ffffff;
    padding: 15px 70px;
    border-radius: 30px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section5ContentImage img {
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 0 3px 1px rgba(35, 62, 99, 0.3);
    box-shadow: 3px 0 3px 1px rgba(35, 62, 99, 0.3);
}

.section5PlanetBackground {
    position: absolute;
    right: -13%;
    top: 3rem;
    z-index: -1;
    width: 41%;
}

/*
============
End Section5
============
*/

/*
==============
Start Section6
==============
*/

.section6 {
    margin-bottom: 10%;
}

.section6Titr h1 {
    padding-bottom: 55px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.row .col:last-child {
    margin-left: 1em;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
}

.tab {
    width: 100%;
    color: #2c3e50;
    overflow: hidden;
    margin-bottom: 5%;
}

.tab-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    padding: 1em;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.tab-label::before {
    padding-left: 15px;
    content: url("images/index/section6/section6_FAQ_icon.svg");
    width: auto;
    height: auto;
    text-align: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.tab-content {
    max-height: 0;
    padding: 0 3em;
    color: #2c3e50;
    background: #ffffff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-family: "iransans", sans-serif;
    line-height: 150%;
    text-align: justify;
    border-radius: 3px;
}

.dropInput:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em 3em;
}

.dropInput {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.dropQL {
    font-family: "iransansbold", sans-serif;
    line-height: 150%;
}

.section6Image img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
============
End Section6
============
*/

/*
==============
Start Section7
==============
*/

.section7Text p {
    margin-top: 0;
    padding-bottom: 35px;
}

.section7Text h1 {
    margin-bottom: 0;
}

.section7Image img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section7Contact input {
    width: 90%;
}

.section7Contact textarea {
    width: 95%;
    margin-top: 30px;
}

.section7Contact input, .section7Contact textarea {
    border: #FF5D89 2px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "iransans", sans-serif;
    color: #233E63;
    background-color: #ffffff;
}

.section7Contact input, .section7Contact textarea {
    padding-right: 50px;
    padding-left: 10px;
}

.section7Contact label img {
    position: absolute;
    right: 20px;
    top: 15px;
}

.section7Textarea img {
    top: 45px !important;
}

.section7Contact textarea {
    resize: vertical;
    height: 150px;
    margin-bottom: 60px;
}

.section7Contact input::-webkit-input-placeholder, .section7Contact textarea::-webkit-input-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.section7Contact input::-moz-placeholder, .section7Contact textarea::-moz-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.section7Contact input:-ms-input-placeholder, .section7Contact textarea:-ms-input-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.section7Contact input::-ms-input-placeholder, .section7Contact textarea::-ms-input-placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.section7Contact input::placeholder, .section7Contact textarea::placeholder {
    font-size: 13px;
    color: #233E63;
    opacity: 1;
}

.section7Contact button {
    background-color: #FF5D89;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 15px 50px;
    font-family: "iransansbold", sans-serif;
    cursor: pointer;
}

.section7 {
    margin-bottom: 10%;
}

/*
============
End Section7
============
*/

/*
============
Start Footer
============
*/

footer {
    position: relative;
}

.footerAboutUs img:first-of-type {
    width: 60px;
    margin-bottom: 25px;
}

.footerAboutUs p {
    font-size: 14px;
    text-align: justify;
    padding-bottom: 40px;
}

.footerSocial img {
    width: 50px !important;
}

.footerSocial a {
    margin-top: 40px;
    margin-left: 10px;
}

.footerLinks p, .footerLinks h4 {
    text-align: center;
}

.footerLinks p {
    font-size: 15px;
}

.footerLinks h4 {
    font-size: 20px;
}

.copyRight {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 15px;
}

.footerPlanetBackground {
    position: absolute;
    right: 5rem;
}

.footerRocketBackground {
    position: absolute;
    left: 0;
    bottom: 0;
}

/*
==========
End Footer
==========
*/

/* *** Responsive *** */

@media (max-width: 1200px) {
    .headerImage {
        width: 100%;
    }

    .section2ContentBox {
        padding: 20px 30px 50px 25px;
    }

    .section4ContentImage img {
        width: 100%;
    }

    .section5PlanetBackground {
        top: 7rem;
    }

    .section4RocketBottom, .section4CircleBottom {
        bottom: -13rem;
    }
}

@media (max-width: 992px) {
    .headerNavigationLink {
        display: none;
        width: 0;
    }

    .headerLogo, .HeaderNavigationButton, .section5Arrow {
        display: block;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .headerTitr {
        font-size: 45px;
    }

    .headerButton a, .section5Button a {
        font-size: 14px;
        padding: 11px 50px;
    }

    .headerImage {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 10%;
    }

    .headerBackground, .headerPlantRight, .headerPlantLeft, .headerRocketLeft, .headerRocketRight, .section4Background,
    .section4CircleTop, .section4CircleBottom, .section4RocketBottom, .section4RocketTop {
        display: none;
    }

    header, .section4 {
        background: rgb(104, 108, 253);
        background: -webkit-gradient(linear, left top, right top, from(rgba(104, 108, 253, 1)), to(rgba(78, 39, 209, 1)));
        background: -o-linear-gradient(left, rgba(104, 108, 253, 1) 0%, rgba(78, 39, 209, 1) 100%);
        background: linear-gradient(90deg, rgba(104, 108, 253, 1) 0%, rgba(78, 39, 209, 1) 100%);
    }

    .section1PlanetRight {
        top: 0;
    }

    .section1ContentBox p {
        padding-bottom: 50px;
    }

    .section1ContentBox img, .section7Textarea textarea, .footerAboutUs img:first-of-type {
        margin-bottom: 0;
    }

    .section1ContentBox h4, .footerAboutUs p {
        padding-bottom: 0;
    }

    .section2ContentBox img {
        width: 25%;
    }

    .section2ContentBox h4, .section2ContentBox p, .section3Text h1, .section3Text p, .section4ContentText h1,
    .section4Ul p, .section5Ttir h1, .section5Ttir p, .section6Titr h1, .section7Text h1, .section7Text p {
        text-align: center;
    }

    .section3Text {
        padding: 0;
    }

    .section3Text h1 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .section3PriceSelect {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 10%;
    }

    .section3PriceSelect a {
        text-align: center;
        width: 50%;
    }

    .section4Number:last-of-type {
        padding-bottom: 10%;
    }

    .section5Arrow {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .section5Button a, .section7Contact button {
        float: none;
        display: block;
        width: 30%;
        margin-top: 3%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .section5Arrow img {
        margin-left: 0;
    }

    .section7Contact input, .section7Textarea textarea {
        width: 100%;
    }

    .section7Contact input:first-of-type {
        margin-top: 30px;
    }

    .section7Contact label img {
        top: 45px;
    }

    .section7Image img {
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .footerPlanetBackground {
        top: 20rem;
    }

}

@media (max-width: 768px) {
    .headerTitr {
        font-size: 35px;
    }

    .section5Button a, .section7Contact button {
        width: 40%;
    }

    .headerImage {
        padding-left: 5%;
    }
}

@media (max-width: 576px) {
    .section4ContentText h1 {
        font-size: 35px;
    }

    .section5Button a, .section7Contact button {
        width: 60%;
    }

    .footerPlanetBackground, .footerRocketBackground {
        display: none;
    }
}

/* *** Hover*** */

.HeaderNavigationButton a, .headerNavigationLink a, .headerButton a, .section2ContentBox, .section2ContentBox h4,
.section2ContentBox p, .section1ContentBox img, .section3PriceSelect a, .section3PriceBox a, .section3PriceBox svg path,
.section4Ul img, .section5Button a, .section7Contact button, .tab, .section7Contact input, .section7Contact textarea,
.footerLinks p, .footerAboutUs img {
    transition-duration: 0.5s;
}

.HeaderNavigationButton a:hover {
    background-color: #FF5D89;
    color: #ffffff;
}

.headerNavigationLink a:hover {
    color: #FF5D89;
}

.headerButton a:hover {
    background-color: #ffffff;
    color: #FF5D89;
}

.section2ContentBox:hover {
    background-color: #FF5D89;
    box-shadow: 5px 4px 5px 0 rgba(255, 93, 137, 0.26);
    -webkit-box-shadow: 5px 4px 5px 0 rgba(255, 93, 137, 0.26);
    -moz-box-shadow: 5px 4px 5px 0 rgba(255, 93, 137, 0.26);
}

.section1ContentBox:hover img {
    transform: scale(1.2) translateY(-5px);
}

.section2ContentBox:hover h4, .section2ContentBox:hover p {
    color: #ffffff;
}

.section3PriceSelect a:hover {
    border: 1px solid #FF5D89;
}

.section3PriceBox a:hover {
    background-color: #ffffff;
    border: 1px solid #FF5D89;
}

.section3PriceBox a:hover h4 {
    color: #FF5D89;
}

.section3PriceBox a:hover svg path {
    fill: #FF5D89;
}

.section4Ul:hover img {
    transform: rotate(-270deg);
}

.section5Button a:hover, .section7Contact button:hover {
    border: 1px solid #FF5D89;
    color: #FF5D89;
    background-color: #ffffff;
}

.tab:hover, .section7Contact input:focus, .section7Contact textarea:focus {
    box-shadow: 0 4px 5px 0 rgba(255, 93, 137, 0.26);
    -webkit-box-shadow: 0 4px 5px 0 rgba(255, 93, 137, 0.26);
    -moz-box-shadow: 0 4px 5px 0 rgba(255, 93, 137, 0.26);
}

.footerLinks p:hover {
    color: #2c3e50;
}

.footerAboutUs img:hover {
    transform: rotate(15deg);
}
